<!--Division que contendra la seccion que muestra los datos del usuario-->
<div class="perfil">
  <!--Diviciones para cada 'columna' de la seccion-->
  <div class="imagen">
    <!--Imagen de perfil del usuario-->
    <img src="assets/pfp.jpg" alt="Imagen de perfil" class="pfp">
  </div>
  <div class="datos">
    <div class="name">
    <!--Nombre real del usuario-->
    <h3>Nombre: </h3><h4>{{usuarios.users.nombre}}</h4>
    </div>
    <div class="name">
    <!--Nombre de usuario-->
    <h3>Nombre de usuario:</h3><h4>{{usuarios.users.usuario}}</h4>
    </div>
    <div class="name">
      <!--Contraseña del usuario-->
      <h3>Contraseña:</h3><h4>{{usuarios.users.contrasena}}</h4>
    </div>
  </div>
  <div class="botones">
    <!--Boton para editar los datos del usuario-->
    <button aria-label="Editar perfil" class="boton">Editar</button>
    <!--Boton para cerrar sesion-->
    <button aria-label="Cerrar sesión" class="boton" routerLink="/login">Cerrar sesión</button>
  </div>
</div>

<!--Seccion de los planes contratados-->
<div class="encabezado2">
  <div class="linea"></div>
    <span class="seccion" aria-label="Mis planes">Mis planes</span>
  <div class="linea"></div>
</div>

<!--Listado de planes-->
<div class="addPlan">
  <button class="botonPlan" aria-label="Agregar plan">Agregar plan</button>
</div>

<!-- Tarjetas de varios planes -->
<div class="plan">
  <!--Trageta 1-->
  <div class="card">
    <div class="titulo">
      <h3 aria-label="Ganancia muscular">Ganancia muscular</h3>
    </div>
    <img src="assets/ganaciaMuscular.jfif" alt="Avatar" class="imgPlan">
    <div class="pie">
      <p>Dificultad: Facil</p>
      <p>Peso objetivo: 70kg</p>
    </div>
  </div>

  <!--Trageta 2-->
  <div class="card">
    <div class="titulo">
      <h3>Ejercicio cardiobascular</h3>
    </div>
    <img src="assets/ejercicioCardiobascular.jpg" alt="Avatar" class="img2">
    <div class="pie">
      <p>Dificultad: Media</p>
    </div>
  </div>
</div>
<br><br><br>

<!--Mostrar el pie de pagina-->
<app-footer2></app-footer2>
