/*Propiedades del encabezado*/
div.header{
  background-color: #474747;
  width: 100%;
  height: 11vh;
  display: flex;
  font-family: Helvetica;
  min-height: 11vh;
}

/*Propiedades de los iconos de la app*/
img.icon{
  width: 9vw;
  height: 9vh;
  min-height: 9vh;
  min-width: 9vh;
  margin: 1vh;
}

/*Propiedades del titulo de la app*/
h1.title{
  width: 11vw;
  height: 11vh;
  text-align: center;
  margin-top: 3vh;
  color: white;
  /*font-family: Impact*/
  font-family: Helvetica;
  margin-left: 25vw;
  min-height: 9vh;
}

div.gestion{
  margin-left: 18vw;
  display: flex;
}

button.gestiones{
  margin-top: 2vh;
  margin-right: 1vw; /*Disseño responsive*/
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 14vw;
  height: 5vh;
  text-align: left;
  background-color: #15CCCC;
  color: black;
  border: none;
  border-radius: 2vh;
  font-size: 18px;
  min-width: 10vw;
  min-height: 6.5vh;
}

button.gestiones:hover{
  color: white;
}

.login, .signin{
  width: 3vw;
  height: 3vh;
  float: right;
  display: flex;
}

.login:hover, .signin:hover{
  width: 3vw;
  height: 3vh;
  float: right;
  display: flex;
}

@media (max-width: 320px){
  .header{
    max-width: 165.3vw;
    width: 165.3vw;
  }

  div.gestion{
    margin-left: 0;
    display: grid;
    gap: 0;
    background-color:#474747;
    padding-left: 65.5vw;
  }

  button.gestiones{
    margin-top: 1vh;
    margin-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 35vw;
    height: 4vh;
    text-align: center;
    background-color: #15CCCC;
    color: black;
    border: none;
    border-radius: 2vh;
    font-size: 14px;
    min-width: 12vw;
    min-height: 3vh;
  }

  .login, .signin{
    width: 4vw;
    height: 2vh;
    margin-right: 0vw;
  }

  h1.title{
    width: 100%;
    height: 11vh;
    text-align: center;
    margin-top: 3vh;
    color: white;
    font-family: Helvetica;
    margin-left: 0;
    margin-right: 0;
    min-height: 9vh;
  }
}


