.planes-container{
  width: 100%;
  justify-items: center;
}

.card{
  background-color: #474747;
  height: 66vh;
  width: 35%;
  margin: 2vw;
  text-align: center;
}

img{
  width: 100%;
  height: 50vh;
}

.subtitle{
  background-color: #474747;
  height: 30vh;
  margin-top: -2vh;
}

.subtitle2{
  height: 1vh;
  width: 15vw;
  padding: 10vh;
  margin-left: -4vw;
  padding-top: 1vh;
  text-align: center;
  vertical-align: middle;
  font-size: 16;
}

h2.text{
  margin-top: 3vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 92vw;
  vertical-align: middle;
  background-color: #828282;
  font-size: 30px;
  font-family: Helvetica;
  color: white;
}

.texto{
  display: flex;
  width:  70%;
  margin-top: 8vh;
  margin-left: 15vw;
  text-align: center;
}

h3.lowText{
  width: 100%;
  color: white;
  font-family: Helvetica;
}

.encabezado2{
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.linea {
  flex-grow: 1;
  height: 8px;
  background-color: #00c6c6;
  max-width: 550px;
}

.seccion {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.rutina{
  width: 30vw;
  margin-left: 0vw;
}

.plan{
  display: flex;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.titulo{
  background-color: #00c6c6;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

h3{
  font-size: 20px;
  font-family: Helvetica;
}

.seeMore{
  background-color: #EFB22F;
  width: 18vw;
  border: none;
  height: 5vh;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

.seePlans{
  background-color: #EFB22F;
  width: 35vw;
  border: none;
  height: 5vh;
  font-size: 20px;
  border-radius: 5px;
  justify-items: center;
}

.verMas{
  justify-items: center;
  text-align: center;
}

@media (max-width: 320px) {
  .contenido{
    width: 100%;
  }
  .mainIMG{
    width: 167vw;
    height: auto;
  }

  .planes{
    width: 167vw;
  }

  .planes-container{
    justify-items: center;
  }

  .card {
    width: 93%;
    margin: 5vw;
    height: 100vh;
    font-size: 30px;
  }

  h3{
    font-size: 27px;
  }

  img {
    height: 76vh;
  }

  .container{
    width: 100%;
  }

  .seeMore {
    width: 100vw;
    height: 8vh;
    font-size: 26px;
  }

  .seePlans {
    width: 100vw;
    height: 8vh;
    font-size: 26px;
    margin-top: 20px;
  }

  .subtitle {
    height: auto;
    width: 166.8vw;
    justify-items: center;
  }

  .texto {
    width: 90%;
    margin-top: 5vh;
    text-align: center;
  }

  .subtitle2 {
    width: 50vw;
    padding: 5vh;
    font-size: 14px;
    margin-right: 45vw;
  }

  h2.text {
    font-size: 24px;
    width: 90vw;
    padding: 3vh;
  }

  .linea {
    max-width: 300px;
  }

  .seccion {
    font-size: 28px;
  }

  .rutina {
    width: 80vw;
  }

  .plan {
    width: 90%;
    flex-direction: column;
  }

  .encabezado2{
    width: 99%;
  }
}
