<div class="a">
  <div class="linea"></div>
    <span class="seccion">Nuestros planes de entrenamiento</span>
  <div class="linea"></div>
</div>

<div class="planes-container">
  @for (plan of planes; let index = $index; track index) {
    <div class="card">
      <div class="titulo">
        <h3>{{ plan.nombre }}</h3>
      </div>
      <img [src]="plan.imagen" alt="Imagen del plan" style="width:100%">
      <div class="container">
        <button class="seeMore">Saber más</button>
      </div>
    </div>
  }
</div>

<app-footer2></app-footer2>
