<div class="a">
  <div class="linea"></div>
    <span class="seccion">Nuestros planes de entrenamiento</span>
  <div class="linea"></div>
</div>

    <!-- Targetas de varios planes -->
    <div class="plan">
      <!--Trageta 1-->
      <div class="card">
        <div class="titulo">
          <h3>Ganancia muscular</h3>
        </div>
        <img src="assets/ganaciaMuscular.jfif" alt="Avatar" style="width:100%">
        <div class="container">
          <button class="seeMore">Saber mas</button>
        </div>
      </div>

      <!--Trageta 2-->
      <div class="card">
        <div class="titulo">
          <h3>Ejercicio cardiobascular</h3>
        </div>
        <img src="assets/ejercicioCardiobascular.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <button class="seeMore">Saber mas</button>
        </div>
      </div>
  </div>

      <!-- Targetas de varios planes -->
      <div class="plan">
        <!--Trageta 1-->
        <div class="card">
          <div class="titulo">
            <h3>Perdida de peso</h3>
          </div>
          <img src="assets/perdidaDePeso.webp" alt="Avatar" class="pies" width="100%">
          <div class="container">
            <button class="seeMore">Saber mas</button>
          </div>
        </div>

        <!--Trageta 2-->
        <div class="card">
          <div class="titulo">
            <h3>Definicion</h3>
          </div>
          <img src="assets/definicion.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <button class="seeMore">Saber mas</button>
          </div>
        </div>
    </div>
    <br>
<app-footer2></app-footer2>
