*{
  font-family:Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color:#15CCCC
}

.linea{
  flex-grow: 1;
  height: 8px;
  background-color: #00c6c6;
  max-width: 550px;
  margin-top: 15px;
}

.seccion{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  margin-top: -15px;
}

.a{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cuadro{
  background-color:#15CCCC;
  text-align: center;
  height: 80px;
  width: 700px;
  padding-top: 40px;
  margin-left: 22%;
  border-bottom: 2px solid black;
}

.datos{
  background-color:#D9D9D9;
  text-align: center;
  height: 500px;
  width: 700px;
  padding-top: 40px;
  margin-left: 22%;
  margin-bottom: 50px;
}

label{
  display: inline-block;
  width: 200px;
}

.campos{
  text-align: center;
  padding-left: 40px;
  padding-bottom: 40px;
}

input{
  margin-bottom: 10px;
  margin-left: 20px;
  border: none;;
}

select{
  border: none;
}

.fecha{
  margin-top: 50px;
}

.nivel{
  margin-left: 400px;
  margin-top: -97px;
}

.experiencia{
  margin-left: 325px;
  margin-top: 1px;
}

.boton{
  background-color:#15CCCC;
  color: white;
  text-align: center;
  height: 70px;
  width: 500px;
  border: 1px solid black;
}

.objetivo{
  margin-top: 40px;
}

.pesoActual{
  margin-top: 40px;
  margin-left: 100px;
  background-color:#15CCCC;
  text-align: center;
  height: 50px;
  width: 200px;
  padding-top: 20px;
  border: 1px solid black;
}

.pesoObjetivo{
  margin-left: 400px;
  margin-top: -113px;
  background-color:#15CCCC;
  text-align: center;
  height: 50px;
  width: 200px;
  padding-top: 20px;
  border: 1px solid black;
}

.pesoA{
  margin-left: -297px;
  width: 199px;
}

.pesoO{
  margin-right: -285px;
  width: 197px;
}
