img{
  width: 100%;
  height: 50vh;
}

.subtitle{
  background-color: #474747;
  height: 30vh;
  margin-top: -2vh;
}

.subtitle2{
  height: 1vh;
  width: 15vw;
  padding: 10vh;
  margin-left: -4vw;
  padding-top: 1vh;
  text-align: center;
  vertical-align: middle;
  font-size: 16;
}

h2.text{
  margin-top: 3vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 92vw;
  vertical-align: middle;
  background-color: #828282;
  font-size: 30px;
  font-family: Helvetica;
  color: white;
}

.texto{
  display: flex;
  width:  70%;
  margin-top: 8vh;
  margin-left: 15vw;
  text-align: center;
}

h3.lowText{
  width: 100%;
  color: white;
  font-family: Helvetica;
}

.encabezado2{
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.linea {
  flex-grow: 1;
  height: 8px;
  background-color: #00c6c6;
  max-width: 550px;
}

.seccion {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.rutina{
  width: 30vw;
  margin-left: 0vw;
}

.plan{
  display: flex;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.titulo{
  background-color: #00c6c6;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

h3{
  font-size: 20px;
  font-family: Helvetica;
}

.seeMore{
  background-color: #EFB22F;
  width: 18vw;
  border: none;
  height: 5vh;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

.card{
  background-color: #474747;
  height: 66vh;
  margin: 2vw;
}

.seePlans{
  background-color: #EFB22F;
  width: 35vw;
  border: none;
  height: 5vh;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 30%;
}

@media (max-width: 480px) {
  .subtitle2{
    margin-left: -16.5vw;
  }

  .texto{
    margin-top: 5vh;
  }

  .plan{
    margin-left: 0vw;
  }

  .card{
    min-width: 46vw;
    min-height: 20vh;
  }

  .container{
    background-color: #474747;
    height: 7vh;
  }

  .seeMore{
    background-color: #EFB22F;
    width: 35vw;
    border: none;
    height: 5vh;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
  }

  .seePlans{
    background-color: #EFB22F;
    width: 55vw;
    border: none;
    height: 5vh;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 6vh;
    margin-left: 20vw;
  }
}
