<div class="contenido">
  <img src="assets/indexImage.jpg">

  <!-- Titulo -->
  <div class="subtitle">
    <div class="subtitle2">
      <h2 class="text">Planes para todos</h2>
    </div>
    <!-- Subtitulo -->
    <div class="texto">
      <h3 class="lowText">El mejor sitio web para ponerte en forma, sin importar tu nivel ni habilidad.</h3>
    </div>
  </div>

  <!-- Seccion de planes -->
  <div class="planes">
    <!-- Titulo del apartado -->
    <div class="encabezado2">
      <div class="linea"></div>
      <span class="seccion">Conoce nuestros planes</span>
      <div class="linea"></div>
    </div>

    <!-- Targetas de varios planes -->
    <div class="plan">
        <!--Trageta 1-->
        <div class="card">
          <div class="titulo">
            <h3>Ganancia muscular</h3>
          </div>
          <img src="assets/musculacion.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <button class="seeMore">Saber mas</button>
          </div>
        </div>

        <!--Trageta 2-->
        <div class="card">
          <div class="titulo">
            <h3>Ejercicio cardiobascular</h3>
          </div>
          <img src="assets/cardio" alt="Avatar" style="width:100%">
          <div class="container">
            <button class="seeMore">Saber mas</button>
          </div>
        </div>
    </div>
    <button class="seePlans">Ver mas planes</button>
    <br>
<app-footer></app-footer>
