/*Imports de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/**/
*{
  font-family:'Rubik';
}

.header{
  background-color: #00c6c6;
  margin: 0;
  padding: 0;
  height: 12vh;
}

/*Propiedades de la seccion de perfil*/
.perfil{
  display: flex;
  gap: 3vw;
}

/*propiedades de la imagen perfil*/
.pfp{
  max-width: 10vw;
  border-radius: 100%;
  margin-left: 4vw;
  margin-top: -7vh;
  border: 10px solid #00c6c6;
}

.datos{
  margin-left: 17vw;
  margin-top: -10vh;
  display: flex;
  gap: 20px;
}

.botones{
  display: flex;
  margin-top: 1vh;
  margin-left: 27vw;
  gap: 10px;
}

button{
  width: 7vw;
  background-color: #15CCCC;
  border: none;
  border-radius: 15px;
  height: 3vh;
  color: black;
  border: none;
  border-radius: 2vh;
  font-size: 14px;
  min-width: 9vw;
  min-height: 5vh;
  white-space: nowrap;
}

button:hover {
  background: linear-gradient(45deg, #15CCCC, #13B3B3, #129A9A, #139696, #1d9d9d, #15CCCC);
  background-size: 300% 300%;
  animation: gradienteAnimado 3s infinite alternate;
  color: white;
}

.apartado{
  margin-top: 100px;
}

.apartado span{
  padding-left: 10px;
  font-size: 30px;
}

.apartado hr{
  border: none;
  height: 5px;
  background-color: #00c6c6;
  margin-top: 0px;
  margin-bottom: 50px;
}

.addPlan{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 31.1vh;
  gap: 10px;
}

.botonPlan{
  background-color: #00c6c6;
  color: black;
  border: none;
  border-radius: 2vh;
  font-size: 14px;
  min-width: 13vw;
  min-height: 5vh;
  white-space: nowrap;
}

.plan{
  display: flex;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.card{
  background-color: #474747;
  height: 66vh;
  margin: 2vw;
  width: 50%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgb(117, 117, 117) 13px 13px 7px 0px;
}

.titulo{
  background-color: #00c6c6;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  padding-left: 6vw;
  border-radius: 10px 10px 0px 0px;
}

.imgPlan{
  width: 100%;
}

.pie{
  background-color: #474747;
  height: 8vh;
  text-align: center;
  color: white;
  font-size: medium;
  border-radius:  0px 0px 10px 10px;
}

@keyframes gradienteAnimado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.name{
  display: flex;
  gap: 1vw;
  text-align: center;
  width: 12vw;
  margin-right: 2vw;
}

.name p{
  font-size: 14px;
  margin-top: 2.3vh;
  margin-left: 0.5vw;
}

h3{
  width: 80px;
  white-space: nowrap;
  font-size: large;
}

.encabezado2{
  margin-top: 5vh;
  margin-bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 7vh;
}

.linea {
  flex-grow: 1;
  height: 10px;
  background-color: #00c6c6;
  max-width: 500px;
  margin-top: 15px;
}

.seccion {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding-top: 15px;
}

img{
  width: 100%;
}

.img2{
  height: 75.5%;
}

.apartado i{
  font-size: 25px;
  color: black;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-top: 2vh;
}
/* Diseño responsivo */
@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas */
  .perfil {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  .pfp {
    max-width: 20vw;
    margin-left: 0;
    margin-top: -5vh;
  }

  .datos {
    margin-left: 0;
    margin-top: -55px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }

  .botones {
    margin-left: -5px;
    margin-top: 2vh;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  button {
    width: auto;
    min-width: 60%;
    font-size: 14px;
  }

  .addPlan {
    flex-direction: row;
    gap: 5px;
  }

  .plan {
    flex-direction: column;
    width: 90%;
  }

  .card {
    width: 100%;
    margin: 1vh 0;
  }

  .titulo {
    padding-left: 0;
    font-size: 16px;
  }

  .userData{
    display: grid;
    gap: 0vh;
  }

  .name {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 0;
    text-align: center;
    margin-left: 20vw;
    margin-top: 3%;
  }

  .name i{
    font-size: 14px;
    margin-top: 0vh;
  }
  
  .name p {
    font-size: 14px;
    margin-top: 0vh;
  }

  .encabezado2 {
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5vh;
  }

  .linea {
    height: 5px;
    max-width: 80%;
  }

  .seccion {
    font-size: 24px;
  }

  .apartado {
    width: 95%;
    height: auto;
    justify-content: center;
    justify-self: center;
    text-align: center;
  }

  .apartado i {
    font-size: 22px;
    margin-top: 1vh;
  }

  .addPlan button{
    width: 45%;
  }
}

@media (max-width: 320px) {
  /* Ajustes para pantallas pequeñas */
  .perfil {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  .pfp {
    max-width: 20vw;
    margin-left: 0;
    margin-top: -5vh;
  }

  .datos {
    margin-left: 0;
    margin-top: -55px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }

  .botones {
    margin-left: -5px;
    margin-top: 2vh;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  button {
    width: auto;
    min-width: 60%;
    font-size: 14px;
  }

  .addPlan {
    flex-direction: row;
    gap: 5px;
  }

  .plan {
    flex-direction: column;
    width: 90%;
  }

  .card {
    width: 100%;
    margin: 1vh 0;
  }

  .titulo {
    padding-left: 0;
    font-size: 16px;
  }

  .userData{
    display: grid;
    gap: 0vh;
    margin-top: 10px;
  }

  .name {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 0;
    text-align: center;
    margin-left: 20vw;
    margin-top: 3%;
  }

  .name i{
    font-size: 14px;
    margin-top: 0vh;
  }
  
  .name p {
    font-size: 14px;
    margin-top: 0vh;
  }

  .encabezado2 {
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5vh;
  }

  .linea {
    height: 5px;
    max-width: 80%;
  }

  .seccion {
    font-size: 24px;
  }

  .apartado {
    width: 95%;
    height: auto;
    justify-content: center;
    justify-self: center;
    text-align: center;
  }

  .apartado i {
    font-size: 22px;
    margin-top: 1vh;
  }

  .addPlan button{
    width: 45%;
  }
}

