<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!--Encabezado del perfil-->
<div class="header">
  <br>
</div>
<!--Divicion que contendra la seccion que muestra la imagen de perfil del usuario-->
<div class="imagen">
  <!--Imagen de perfil del usuario-->
  <img src="assets/pfp.jpg" alt="Imagen de perfil" class="pfp">

</div>

<div class="datos">
  <div class="userData">
    <div class="name">
    <!--Nombre real del usuario-->
    <i class="fa-solid fa-address-book"></i><p>{{usuarios.users.nombre}}</p>
    </div>
    <div class="name">
    <!--Nombre de usuario-->
    <i class="fa-solid fa-envelope"></i><p>{{usuarios.users.correo}}</p>
    </div><br>
  </div>

  <div class="botones">
    <!--Boton para editar los datos del usuario-->
    <button aria-label="Editar perfil" class="boton" routerLink="/profile/updateAdmin">Editar <i class="fa-solid fa-user-pen"></i></button>
    <!--Boton para cerrar sesion-->
    <button aria-label="Cerrar sesión" class="boton" routerLink="/login">Cerrar sesión <i class="fa-solid fa-door-open"></i></button>
  </div>
</div>
  <div class="apartado">
    <span class="seccion" aria-label="Mis planes">Perfil de administrador</span><i class="fa-solid fa-user-tie"></i>
    <hr>
  </div>

<!--Listado de planes-->
<div class="addPlan">
  <button class="botonPlan" aria-label="Agregar plan" routerLink="/admin/users">Gestionar usuarios <i class="fa-solid fa-user-pen"></i></button>
  <button class="botonPlan" aria-label="Agregar plan" routerLink="/admin/plans">Gestionar planes <i class="fa-solid fa-clipboard"></i></button>
</div>


<!--Mostrar el pie de pagina-->
<app-footer2></app-footer2>
