<!--Division que contendra la seccion que muestra los datos del usuario-->
<div class="perfil">
  <!--Diviciones para cada 'columna' de la seccion-->
  <div class="imagen">
    <!--Imagen de perfil del usuario-->
    <img src="assets/admin_default.png" alt="Imagen de perfil" class="pfp">
  </div>
  <div class="datos">
    <div class="name">
    <!--Nombre real del usuario-->
    <h3>Nombre: </h3><h4>Amaia Pujol</h4>
    </div>
    <div class="name">
    <!--Nombre de usuario-->
    <h3>Nombre de usuario:</h3><h4>Amaia</h4>
    </div>
    <div class="name">
      <!--Contraseña del usuario-->
      <h3>Contraseña:</h3><h4>..........</h4>
    </div>
  </div>
  <div class="botones">
    <!--Boton para editar los datos del usuario-->
    <button class="boton">Editar</button>
    <!--Boton para cerrar sesion-->
    <button class="boton" routerLink="/login">Cerrar sesion</button>
  </div>
</div>

<!--Linea divisora-->
<br><br><br>
<hr>

<div class="opciones">
  <!--Boton de gestion de usuarios-->
  <button class="gestiones">Gestionar usuarios</button>

  <!--Boton de gestion de planes-->
  <button class="gestiones">Gestionar planes</button>
</div>

<!--Mostrar el pie de pagina-->
<footer>
  <app-footer2></app-footer2>
</footer>
