<div class="a">
  <div class="linea"></div>
    <span class="seccion">Bienvenido a JoreFIT. Pongamonos Fuertes!</span>
  <div class="linea"></div>
</div>

<div class="cuadro">
  <span class="seccion">Cuentanos sobre ti</span>
</div>
<div class="datos">
    <form>
      <div class="campos">
      <label>Nombre</label>
      <input type="text" name="nombre">
      <br>
      <label>Apellido</label>
      <input type="text" name="apellido">
      <br>
      <label>Nombre de ususario</label>
      <input type="text" name="nick">
      <br>
      <label>Contraseña</label>
      <input type="text" name="contrasena">
      <br>
      <div class="fecha">
        <label>Fecha de nacimiento</label>
      </div>
      <br>
      <div class="nacimiento">
        <input type="date" name="fech_nac">
      </div>
      <div class="nivel">
        <label>Nivel</label>
      </div>
      <br>
      <div class="experiencia">
        <select name="nivel">
          <option>---SELECIONAR---</option>
          <option value="AFICIONADO">AFICIONADO</option>
          <option value="INTERMEDIO">INTERMEDIO</option>
          <option value="AVANZADO">AVANZADO</option>
        </select>
      </div>
      </div>
      <button class="boton" type="submit">Registrarse</button>
    </form>

  <h5>¿Ya tienes una cuenta? <a routerLink="/login">INICIA SESION</a></h5>
</div>

<div class="cuadro">
  <span class="seccion">¿Que esperas conseguir?</span>
</div>
<div class="datos">
  <form>
    <label>Objetivo</label>
    <br>
    <div class="objetivo">
      <select name="nivel">
        <option>---SELECIONAR---</option>
        <option value="Ganar Masa Muscular">Ganar Masa Muscular</option>
        <option value="Perder Peso Y Grasa">Perder Peso Y Grasa</option>
        <option value="Aumentar Tu Rendimiento">Aumentar Tu Rendimiento</option>
      </select>
    </div>
    <br>
    <div class="pesoActual">
      <label>Peso Actual:</label>
    </div>
    <input class="pesoA" type="number" step="0.01" min="0" name="pesoActual">
    <br>
    <div class="pesoObjetivo">
      <label>Peso Objetivo:</label>
    </div>
    <input class="pesoO" type="number" step="0.01" min="0" name="pesoObjetivo">
    <br>
    <br>
    <button class="boton" type="submit">Guardar</button>
  </form>
</div>
